.cube {
    position: relative;
    height: 300px;
}

.container2 {
    width: 220px;
    height: 220px;
    perspective: 730px;
    display: block;
    margin: auto;
}

.front {
    background-color: black;
    color: deepskyblue;
    border: 5px solid black;
}

.back {
    background-color: #A42327;
    border: 5px solid black;
    color: white;
}

.left {
    background-color: green;
    border: 5px solid black;
    color: white;
}

.top {
    background-color: #A42327;
    border: 5px solid black;

}

.bottom {
    background-color: rebeccapurple;
    border: 5px solid black;

}

.right {
    background-color: grey;
    border: 5px solid black;
    color: white;
    letter-spacing: -2px;
}

#cube {
    margin-top: 20px;
    width: 220px;
    height: 220px;
    position: absolute;
    transform-style: preserve-3d;
}

.front:hover,.right:hover,.left:hover,.back:hover{
    cursor: pointer;
}

#cube figure {
    margin: 0;
    width: 220px;
    height: 220px;
    display: block;
    position: absolute;
    font-size: 30px;
    line-height: 40px;
}
#cube .front {
    transform: rotateY(0deg) translateZ(110px);
}

#cube .back {
    transform: rotateY(180deg) translateZ(110px);
}

#cube .right {
    transform: rotateY(90deg) translateZ(110px);
}

#cube .left {
    transform: rotateY(-90deg) translateZ(110px);
}

#cube .top {
    transform: rotateX(90deg) translateZ(110px);
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(110px);
}
#cube {
    transition: transform 1s;
}

#cube.show-front {
    transform: rotateY(17deg);
}

#cube.show-back {
    transform: rotateY(-163deg);
}

#cube.show-right {
    transform: rotateY(-73deg);
}

#cube.show-left {
    transform: rotateY(-253deg);
}

#cube.show-top {
    transform: rotateX(-90deg);
}

#cube.show-bottom {
    transform: rotateX(90deg);
}

.cube_video {
    width: 140%;
    margin-top: -23px;
    margin-left:-30px;
}

.video_container {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.cube_border {
    text-align: center;
    overflow: hidden;
}

.cube_font {
    z-index: 10;
}

@-webkit-keyframes rotate_cube {
    100% {
        transform: rotateY(-34300deg);
    }
}
