.contact-form-container{
    width: 50%;
    margin: auto;
}

.contact-form{
    width: 80%;
    border: 5px solid #A42327;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
    position: relative;
    top: 180px;
    margin: auto;
    font-size: 20px;
    box-shadow: 0 0 50px 5px black;
}

.contact-form .page_title{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.contact-form .me-container{
    text-align: center;
}

.contact-form .me-container img{
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 5px solid #A42327;
    background-color: white;
    margin-bottom: 30px;
    margin-top: -30px;
    background-color: rgba(255,255,255,.7);
}


.contact-form form{
    width: 100%;
    margin-bottom: 30px;
}

.form-control {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 4px;
    color: #111;
    display: block;
    font-size: 15px;
    height: 30px;
    padding: 6px 12px;
    margin-left: -12px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-bottom: 20px;
}

.form-control:focus{
  border: 2px solid #A42327;
    outline-width: 0;
}

::-webkit-placeholder, ::-o-placeholder, ::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.textarea-control{
    height: 100px;
}

.contact-form .button-container{
    text-align: center;
}

.contact-form .submit{
    padding: 25px 70px;
    font-size: 16px;
    background-color: black;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    transition-duration: .3s;
    border: 2px solid rgba(255,255,255,.3);
}

.contact-form .submit:hover {
    background-color: #A42327;
}

@media only screen and (max-width: 1024px) {
    .contact-form-container{
        width: 75%;
    }
    .contact-form .submit{
        padding: 15px 50px;
        font-size: 12px;
    }

    .contact-form .page_title{
        font-size: 28px;
    }
    .contact-form{
        top:160px;
        width: 65%;
    }
    .contact-form .page_title{
        top:-60px;
    }
    .contact-form .me-container img{
        height: 90px;
        margin-top: -10px;
        margin-bottom: 15px;
    }
    .form-control{
        height: 24px;
        padding: 3px 6px;
        margin-left: -6px;
    }
    .contact-form{
        border: 3px solid #A42327;
    }
    .contact-form .me-container img {
        border: 3px solid #A42327;
    }
    .textarea-control{
        height: 80px;
    }
}

@media only screen and (max-width: 726px) {
    .contact-form .page_title{
        font-size: 22px;
    }
    .contact-form{
        top:110px;
    }
    .contact-form .me-container img{
        height: 75px;
        margin-top: -20px;
        margin-bottom: 15px;
    }
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape)
{
    .contact-form{
        top:100px;
    }
    .contact-form .page_title{
        font-size: 20px;
        top:-35px
    }
    .contact-form form{
        margin-bottom: 15px;
    }
    .contact-form .me-container img{
        height: 60px;
        margin-top: -15px;
        margin-bottom: 5px;
    }
    .form-control{
        height: 18px;
        margin-bottom: 10px;
    }
    .resume{
        display: none;
    }
    .contact-form .submit{
        padding: 5px 50px;
    }
    footer{
        font-size: 16px;
        height: 60px;
    }
    ul.social{
        margin-top: 5px;
    }
}