/*-----------------------------css for revolving slider skills page*/

#skills-area{
    height: 550px;
    background-color: rgba(255,255,255,0);
    position: relative;
    top: 120px;
}

#skills-area .skills-container{
    width: 100%;
    height: 100%;
    margin: auto;
}

#skills-area .skills-container .skills_bg{
    width: 50%;
    height: 100%;
    background-color: #7BC7CD;
}

.skills_picture_container .logo_img{
    border-radius: 50%;
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 1;
    transition-duration: .5s;
}

.skills_picture_container .logo_img:hover{
    transform:scale(1.3);
    box-shadow: 0 0 15px 10px rgba(255,255,255,.3);
    z-index: 20 !important;
    background: rgba(255,255,255,.3);
}

.skills_bg{
    display: inline-block;
    height: 100%;
    width: 50%;
}
.skills_picture_container{
    display: inline-block;
    height: 100%;
    width: 50%;
    vertical-align: top;
    background-color: black;
}

#skills-area .skills_circle{
    height: 400px;
    width: 400px;
    position: relative;
    top:0;
    left:100px;
}

.hide_logo{
    display: none;
}