/*----------------------------------------------------------------------*/
/*----------------more specific styling of the portfolio---------------*/
/*---------------------------------------------------------------------*/

.page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.page2{
    width: 100vw;
    height: 91vh;
    overflow: hidden;
}

#home-section{
    background:url('../images/backgrounds/stars.png')#FFFFFF no-repeat bottom center fixed;
    position: relative;
}

#app-section{
    background:url('../../pres/images/galaxy3.jpg')#FFFFFF no-repeat bottom center fixed;
    position: relative;
    background-color: black;
}

#skill-section{
    background:url('../images/backgrounds/stars_middle3.png')#FFFFFF no-repeat bottom center fixed;
    position: relative;
}

#contact-section{
    background:url('../images/backgrounds/stars2.png') no-repeat bottom right;
    position: relative;
    background-size: cover;
}

#home-section .title{
    color: #A42327;
    font-weight: 700;
    position: absolute;
}
#home-section .me{
    font-size: 65px;
    letter-spacing: -3px;
    bottom: 400px;
    right:500px;
}

#home-section .profession{
    font-size: 35px;
    bottom: 325px;
    right:350px;
}

#typed_intro{
    font-size: 25px;
    line-height: 45px;
    font-weight: 400;
    position: absolute;
    top: 190px;
}

.click-me{
    position: relative;
    bottom: -400px;
    left: 15%;
    color: rgba(255,255,255,.6);
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 0px;
}

.mouse-arrow.mouse-down {
    position: absolute;
    right: 50%;
    bottom: 50px;
}

.mouse-arrow.mouse-up {
    position: absolute;
    right: 50%;
    top: 80px;
}

.mouse-arrow.mouse-down a span{
    transform: rotate(-45deg);
}

.mouse-arrow.mouse-up a span{
    transform: rotate(135deg);
}

.mouse-arrow a.black span{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.mouse-arrow a.white span{
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


.mouse-arrow a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.mouse-arrow a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    animation: sdb07 1.7s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.mouse-arrow a:hover span{
    border-color: #A42327;;
    border-width: 4px;
}

.mouse-arrow a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.mouse-arrow a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.mouse-arrow a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.map-container{
    width: 100%;
    height: 110vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

#map{
    width: 100%;
   height: 100%;
}

@media only screen and (max-height: 800px){
    #home-section .me{
        font-size: 45px;
        right: 350px;
        top:80px;
    }
    #home-section .profession{
        font-size: 25px;
        top: 150px;
        right: 300px;
    }
    #typed_intro{
        left: 180px;
        font-size: 20px;
        line-height: 35px;
    }
}


@media only screen and (max-width: 1600px){
    #home-section .profession{
        right:12%;
    }
    #home-section .me{
        right:20%;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        width: 100vw;
    }
    #home-section .profession{
        font-size: 25px;
        bottom: 350px;
    }
    #home-section .me{
        right:20%;
        font-size: 45px;
    }
    #typed_intro{
        font-size: 20px;
        left:5%;
        line-height: 35px;
    }
}

@media only screen and (max-width: 1024px) {
    #skill-section{
        background:none;
    }
    #home-nav .nav-buttons ul li, #pop-nav .nav-buttons ul li {
        font-size: 16px;
    }

    #home-section .profession {
        font-size: 18px;
        top:54%;
    }

    #home-section .me {
        font-size: 35px;
        top: 45%;
    }

    #typed_intro {
        font-size: 16px;
        line-height: 30px;
    }

    #home-section {
        background-attachment: scroll;
        background-size: cover;
    }

    #app-section {
        background-attachment: scroll;
        background-size: cover;
    }

    #skill-section {
        background-attachment: scroll;
        background-size: cover;
    }

    .mouse-arrow.mouse-down {
        bottom: 12%;
    }

    .mouse-arrow.mouse-up {
        top: 10%;
    }
    .click-me{
        bottom: -45%;
        left: 5%;
        font-size: 16px;
    }

}

@media only screen and (max-width: 726px){
    .mouse-arrow.mouse-up {
        top: 5%;
    }
    #home-section .profession{
        right: 3%;
        font-size: 12px;
    }
    #home-section .me{
        right:5%;
        font-size: 30px;
    }
    #typed_intro{
        left:2%;
        font-size: 10px;
        line-height: 24px;
        top:140px;
    }
    .click-me{
        left:2%;
        font-size: 12px;
    }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 3){
    #pop-nav{
        display: none;
    }
    #typed_intro{
        top: 70px;
        line-height: 25px;
    }
    #home-section .me{
        top: 45%;
    }
    #home-section .profession{
        top:58%;
    }
    #app-section .cube{
        top:70px;
    }
    #app-section h2{
        font-size: 20px;
    }
    #app-section .page_title{
        top:-20px;
    }
    #cube .front, #cube .right, #cube .left, #cube .back {
        height: 130px;
        width: 130px;
    }
    #cube figure{
        font-size: 16px;
    }
    #cube .front {
        transform: rotateY(0deg) translateZ(100px)
    }

    #cube .right {
        transform: rotateY(90deg) translateZ(100px)
    }

    #cube .left {
        transform: rotateY(-90deg) translateZ(100px)
    }

    #cube .back {
        transform: rotateY(180deg) translateZ(100px)
    }
    .zoom_front{
        transform: rotateY(0deg) translateZ(280px) !important;
    }
    .zoom_right{
        transform: rotateY(90deg) translateZ(280px) !important;
    }
    .zoom_back{
        transform: rotateY(180deg) translateZ(280px) !important;
    }
    .zoom_left{
        transform: rotateY(-90deg) translateZ(280px) !important;
    }
    .cube_container{
        height: 130px;
        width: 130px;
    }
    #info {
        height: 290px;
        width: 450px;
        margin-top: -105px;
        right: 10px;
        border-radius: 30px;
        font-size: 16px;
    }
    #info h4{
        font-size: 25px;
    }

    #close_out_container{
        right:-375px;
        top:-5px;
    }
    .tech1{
        top:50px;
    }
    .skills_bg .skills_info{

    }
    .skills_bg .skills_info h3{
        font-size: 20px;
    }
    .skills_bg .skills_info ul.col1, .skills_bg .skills_info ul.col2, .skills_bg .skills_info ul.col1b{
        width: 130px;
    }
    .skills-container .tracker{
        bottom: 0;
    }
    .page2{
        height: 87vh;
    }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape){
    .skills-container .tracker{
        width: 50%;
    }
    .mouse-arrow.mouse-up{
        top:8%;
    }
    #pop-nav{
        display: none;
    }
    #typed_intro{
        top: 70px;
        line-height: 25px;
        font-size: 14px;
    }
    #home-section .me{
        bottom: 165px;
        right:15%;
    }
    #home-section .me{
        top: 45%;
    }
    #home-section .profession{
        top:58%;
        right: 12%;
    }
    #app-section h2{
        font-size: 20px;
    }
    #app-section .page_title{
        top:-20px;
    }
    #cube .front, #cube .right, #cube .left, #cube .back {
        height: 130px;
        width: 130px;
    }
    #cube figure{
        font-size: 16px;
    }
    #cube .front {
        transform: rotateY(0deg) translateZ(100px)
    }

    #cube .right {
        transform: rotateY(90deg) translateZ(100px)
    }

    #cube .left {
        transform: rotateY(-90deg) translateZ(100px)
    }

    #cube .back {
        transform: rotateY(180deg) translateZ(100px)
    }
    .zoom_front{
        transform: rotateY(0deg) translateZ(280px) !important;
    }
    .zoom_right{
        transform: rotateY(90deg) translateZ(280px) !important;
    }
    .zoom_back{
        transform: rotateY(180deg) translateZ(280px) !important;
    }
    .zoom_left{
        transform: rotateY(-90deg) translateZ(280px) !important;
    }
    .cube_container{
        height: 130px;
        width: 130px;
    }
    #info {
        height: 290px;
        width: 450px;
        margin-top: -105px;
        right: 10px;
        border-radius: 30px;
        font-size: 16px;
    }
    #info h4{
        font-size: 25px;
    }

    #close_out_container{
        right:-375px;
        top:-5px;
    }
    .tech1{
        top:50px;
    }
    .skills_bg .skills_info{

    }
    .skills_bg .skills_info h3{
        font-size: 20px;
    }
    .skills_bg .skills_info ul.col1, .skills_bg .skills_info ul.col2, .skills_bg .skills_info ul.col1b{
        width: 130px;
    }
    .skills-container .tracker{
        bottom: 0;
    }
    .page2{
        height: 82vh;
    }
}

