/*----------------------------------------------------------------------*/
/*----------------more specific styling of the portfolio---------------*/
/*---------------------------------------------------------------------*/

.page{
    height: 101vh;
    width: 100vw;
}
.page2{
    width: 100vw;
    height: 85vh;
}

#home-section{
    background:url('../images/backgrounds/stars.png')#FFFFFF no-repeat bottom center fixed;
}

#app-section{
    background:url('../images/backgrounds/galaxy3.jpg')#FFFFFF no-repeat bottom center fixed;
}

#skill-section{
    background:url('../images/backgrounds/stars_middle3.png')#FFFFFF no-repeat bottom center fixed;
}

#contact-section{
    background:url('../images/backgrounds/stars2.png') no-repeat bottom center;
}

#home-section .title{
    color: #A42327;
    font-weight: 700;
    position: absolute;
}
#home-section .me{
    font-size: 65px;
    letter-spacing: -3px;
    bottom: 400px;
    right:500px;
}

#home-section .profession{
    font-size: 35px;
    bottom: 325px;
    right:350px;
}

#typed_intro{
    font-size: 25px;
    line-height: 45px;
    font-weight: 400;
    position: absolute;
    top: 190px;
}

.click-me{
    position: relative;
    bottom: -400px;
    left: 380px;
    color: rgba(255,255,255,.6);
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 0px;
}

.scroll-thumb{
    position: fixed;
    top: 42px;
    left: 357px;
    height: 7px;
    width: 50px;
    background-color: #A42327;
    transition-duration: .1s;
    display: none;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

.mouse-down a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.mouse-down a {
    padding-top: 80px;
}
.mouse-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation: sdb07 1.7s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.mouse-down a:hover span{
    border-color: #A42327;;
    border-width: 4px;
}

.mouse-down a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.mouse-down a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.mouse-down a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.map-container{
    width: 100%;
    height: 110vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

#map{
    width: 100%;
   height: 100%;
}